---
import { isThisDateTime } from "../../utils/datetime-tools.ts";
import { render } from "astro:content";
import PostAuthor from "./PostAuthor.astro";
import PostDatetime from "./PostDatetime.astro";
type Props = {
  post: PostEntry;
};

const { post } = Astro.props as Props;

const url =
  post.data.category === "origin"
    ? `/writing/${post.id}`
    : post.data.category === "clipping"
      ? `/reading/${post.id}`
      : `/lifelog/${post.id}`;
const { title } = post.data;

const { Content } = await render(post);
---

<div class="border-b-1 border-b-base-content/5 last:border-b-0">
  <div class="card relative">
    <div class="card-body cursor-pointer py-8 lg:px-16">
      <div class="block pb-4">
        <PostAuthor frontmatter={post.data} />
        <PostDatetime frontmatter={post.data} />
      </div>
      {isThisDateTime(title) ? "" : <h2 class="card-title">{title}</h2>}
      <article class="article-render line-clamp-6">
        <Content />
      </article>
      <a href={url} class="absolute inset-0">
        <span class="sr-only">阅读关于 {title} 的文章</span>
      </a>
    </div>
  </div>
</div>
